<!-- views/partials/header.ejs -->
<header>
    <h1>✌️Hempon Business Solutions
        <div class="status">
            <span class="blinking-dot"></span>
            Available for work / local
        </div>
    </h1>

    <nav>
        <ul>
            <li>
                <a href="/">
                    <i class="fas fa-home"></i> <!-- Home Icon -->
                    Home
                </a>
            </li>
            <li>
                <a href="/experience">
                    <i class="fas fa-briefcase"></i> <!-- Experience Icon -->
                    Work History
                </a>
            </li>
            <li>
                <a href="/projects">
                    <i class="fas fa-project-diagram"></i> <!-- Projects Icon -->
                    Undertakings
                </a>
            </li>


        </ul>
    </nav>
    <button id="dark-mode-toggle">
        <span id="dark-mode-icon">🌙</span> <!-- Initial icon for dark mode -->
    </button>
</header>